In [1]:
import pandas as pd

/var/folders/hm/4gy529yx1ts3knwwpl0wm7bm0000gn/T/ipykernel_1523/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('./dataset/product_unit_solds.csv')

In [3]:
df.head()

,product_id,price,units_sold,rating,rating_count,tags,product_color
0,5e9ae51d43d6a96e303acdb0,16.00,100,3.76,54,"Summer,Fashion,womenunderwearsuit,printedpajam...",white
1,58940d436a0d3d5da4e95a38,8.00,20000,3.45,6135,"Mini,womens dresses,Summer,Patchwork,fashion d...",green
2,5ea10e2c617580260d55310a,8.00,100,3.57,14,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint
3,5cedf17ad1d44c52c59e4aca,8.00,5000,4.03,579,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black
4,5ebf5819ebac372b070b0e70,2.72,100,3.10,20,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow

In [12]:
round(df['product_color'].value_counts() / df['product_color'].value_counts().sum() * 100,2)

product_color
black                 20.29
white                 15.83
pink                   6.46
blue                   6.46
yellow                 6.15
                      ...
army                   0.08
black & stripe         0.08
Rose red               0.08
greysnakeskinprint     0.08
gold                   0.08
Name: count, Length: 101, dtype: float64